* {
    margin: 0 auto; 
    box-sizing: border-box;
    padding: 0;
}

.container-up {
    width: 60%;
    height: 25em;
}

.container-down {
    width: 60%;
    height: 25em;
    
}

.clearfix::after{
        content:"";
        display: table;
        clear: both;
}

.col-left {
    float: left;
    height: 20em;
    width: 25%;
    margin: 1em 0em 0em 6.5em;
}

.col-center {
    float: left;
    height: 20em;
    width: 25%;
    margin: 1em 0.5em 0em 0.5em;

}

.col-right {
    float: left;
    height: 20em;
    width: 25%;
    margin: 1em 6.5em 0em 0em;

}

.col-left{
    background-image: url(../img/1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.col-center{
    background-image: url(../img/2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.col-right{
    background-image: url(../img/3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.container-didascalia div {
    display: inline-block;
}

.container-didascalia div:first-child {
    margin: 0em 0em 0em 6.5em;
}

.container-didascalia div:nth-child(2) {
    margin: 0em 0em 0em 4.2em;
}

.container-didascalia div:nth-child(3) {
    margin: 0em 0em 0em 4.2em;
}

.col-left:hover {
    background-image: url(../img/1b.webp);
}

.cuore {
    position: absolute;
    top: 0.5em;
    left: 94%;
    background-color: white;
}