* {
    margin: 0 auto; 
    box-sizing: border-box;
    padding: 0;
}

.container-up {
    width: 60%;
    height: 25em;
}

.container-down {
    width: 60%;
    height: 25em;
    
}

.clearfix::after{
        content:"";
        display: table;
        clear: both;
}

.col-left {
    float: left;
    height: 20em;
    width: 25%;
    margin: 1em 0em 0em 6.5em;
}

.col-center {
    float: left;
    height: 20em;
    width: 25%;
    margin: 1em 0.5em 0em 0.5em;

}

.col-right {
    float: left;
    height: 20em;
    width: 25%;
    margin: 1em 6.5em 0em 0em;

}

.col-left.up{
    background-image: url(../img/1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.col-center.up {
    background-image: url(../img/2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.col-right.up {
    background-image: url(../img/3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.col-left.down{
    background-image: url(../img/4.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.col-center.down{
    background-image: url(../img/5.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.col-right.down {
    background-image: url(../img/6.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.container-didascalia-up div {
    display: inline-block;
}

.container-didascalia-up div:first-child {
    margin: 0em 0em 0em 6.5em;
}

.container-didascalia-up div:nth-child(2) {
    margin: 0em 0em 0em 6.4em;
}

.container-didascalia-up div:nth-child(3) {
    margin: 0em 0em 0em 10.8em;
}

.container-didascalia-down div {
    display: inline-block;
}

.container-didascalia-down div:first-child {
    margin: 0em 0em 0em 6.5em;
}

.container-didascalia-down div:nth-child(2) {
    margin: 0em 0em 0em 10.8em;
}

.container-didascalia-down div:nth-child(3) {
    margin: 0em 0em 0em 9.6em;
}

.cuore {
    position: absolute;
    top: 0.5em;
    left: 94%;
    background-color: white;   
}

.cuore:hover{
    color: red;
}

.col-left:hover.up {
    background-image: url(../img/1b.webp);

}

.col-center:hover.up {
    background-image: url(../img/2b.webp);

}

.col-right:hover.up {
    background-image: url(../img/3b.webp);

}

.col-left:hover.down {
    background-image: url(../img/4b.webp);

}

.col-center:hover.down {
    background-image: url(../img/5b.webp);

}

.col-right:hover.down {
    background-image: url(../img/6b.webp);

}

.sconto {
    background-color: crimson;
}

.sostenibilità {
    background-color: green;
}

.sconto-sostenibilità {
    position: absolute;
    top:94%;
    font-size: x-small;
    color: white;
}

h4 {
    text-transform: uppercase;
    font-size: x-small;
}

p {
    font-size: x-small;
}

.colore-prezzo {
    color: red;
    font-weight: 600;
}

.scontato {
    text-decoration: line-through;
    font-weight: 600;
}